@font-face {
    font-family: 'monoji'; 
    src: url("../NotoEmoji-Regular.ttf");
}
:root {
    --vel: 2.5em; /* velikost */
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header, bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
content {
    flex-direction: column;
    background-color: var(--theme2);
    padding: 0 16vw;
}
header {
    flex-flow: column;
    margin: 10vh auto;
    padding: 0;
    max-width: 60ch;
    text-align: center;
}
header h1 {
    margin-top: 0;
}
header img {
    width: 7em;
    height: 7em;
    border-radius: 5rem;
    border: 7px solid white;
    box-shadow: 0 7px 30px rgba(15, 71, 113, 0.28);
}

.nInteresting, span {
    color: #a9b4bc;
}
h2, span p {
    display: inline;
}
span {
    margin-left: 1em;
}

section {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
}
ik {
    position: relative;
    font-family: "monoji";
    
    color: var(--theme2);
    background-color: var(--themeMain);
    text-align: center;
    line-height: 2.2em;
    border-radius: 100%;
    height: var(--vel);
    min-width: var(--vel);
    border: 4px solid white;
}
section ik:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 20em;
    left: 48%;
    background-color: var(--themeMain);
    z-index: -1;
}
section:last-of-type ik:after {
    background-color: #fff;
    z-index: -1;
}

div {
    margin-top: 0.5em;
    margin-left: 1em;
}
div h2 {
    margin-bottom: 0;
}
div p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
div a {
    display: inline;
    text-decoration: underline;
}
div a:after {
    content: "";
}
footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 10vh;
    margin-bottom: 20vh;
    align-items: center;
}
footer a {
    font-size: 150%;
}
@media screen and (max-device-width: 900px) {
    content {
        padding: 0 2vw;
    }
    ik:after {
        display: none
    }
}