/* Fonty */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700,700i&display=swap&subset=latin-ext');

/* Barvy */
:root {
    --themeMain: #2196F3;
    --theme: #384046;
    --theme2: #FFFFFF;

    --themeGray: #93a1ac;
    --themeGrayInverted: #cdd3d8;

    --themeHighlight: rgba(255, 93, 115, 1);
    --themeLightMain: #e5f3fd;
}

/* Konstanty */
:root {
    --padding: 3%;

    --hoverOffset: 1px;

    --border: 2px solid;
    --transSmooth: cubic-bezier(.4, 0, 0, 1.01);
    --stin: 0 7px 30px rgba(15, 71, 113, 0.28);
    --gridConstant: 10;
}

/* Důležité resety */
* {
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

::-webkit-input-placeholder {
    color: var(--themeGrayInverted);
}
:-ms-input-placeholder {
    color: var(--themeGrayInverted);
}
::-ms-input-placeholder {
    color: var(--themeGrayInverted);
}
::placeholder {
    color: var(--themeGrayInverted);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
input:not(input[type="checkbox"]) {
    appearance: none;
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #f6fafd;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--theme);
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Kosmetické věci */
.dotBackground {
    background-image: radial-gradient(#ebecfe 20%, #f6fafd 20%);
    background-position: 0 0;
    background-size: 2rem 2rem;
    height: 100%;
    width: 100%;
}

/* Často používané elementy */
.tlacitkoKontrast {
    background: linear-gradient(45deg, rgba(255, 93, 115, 1) 0%, rgba(255, 115, 134, 1) 100%);
    font-weight: 900;
    color: var(--theme2) !important;
    text-decoration: none !important;
}
.tlacitkoKontrast:hover {

}
.tlacitko {
    padding: 0.8rem;
    color: var(--theme2) !important;
    text-decoration: none !important;
    font-weight: 600;
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(64,166,245,1) 0%, rgba(33,150,243,1) 100%);
    box-shadow: 0 7px 15px rgba(15, 71, 113, 0.28);
    transition: 0.3s var(--transSmooth);
}
.tlacitko:hover {
    box-shadow: 0 8px 20px rgba(15, 71, 113, 0.40);
    transform: translateY(-0.2rem);
}

h1, h2, h3 {
    font-family: "Nunito", sans-serif;
}
h1 {
    font-weight: 900;
    font-size: 300%;
    margin: 5rem 0 0 0;
}