header {
    padding-top: 13vh;
}

.titulekTecky {
    position: relative;
}
.titulekTecky:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 300%;

    top: -200%;
    transform: translateX(-65vw);

    background-image: radial-gradient(var(--themeKulicky) 20%, var(--mainPozadi) 20%);
    background-position: 0 0;
    background-size: 2rem 2rem;

    z-index: -1;
}

.hlavniTitulek {
    margin: 5rem 0 0 0;
}
h1 + p {
    color: #41a7f5;
}
header {
    display: flex;
    padding-top: 13vh;
    flex-direction: column;
    align-items: center;
    z-index: 20;
}
h2, h3 {
    margin-bottom: var(--paddingMini2x);
}
h2 {
    clear: both;
}

section.twoColumn {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
}
section.twoColumn .spanFull {
    grid-column: 1/-1;
}

article text ikony {
    display: block;
    padding-top: var(--paddingMini);
    margin-bottom: var(--paddingMini2x);
    border-top: var(--themePrerusovanaCara);
}
article text ikony img {
    max-height: 2rem;
    margin-right: 1rem;
}

@media screen and (max-device-width: 1350px) {
    article titulek img {
        width: 100%;

        min-width: 100%;
        max-height: unset;
        max-width: 10rem;
    }
}
@media screen and (max-device-width: 1070px) {
    h1 {
        text-align: center;
    }
}