@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,500i,600,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap&subset=latin-ext');
* {
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --padding: 3%;
    --themeMain: #2196F3;
    --theme: #384046;
    --theme2: #FFFFFF;
    --themeHighlight: #FF5613;
    --themeGray: #93a1ac;
    --themeGrayInverted: #cdd3d8;
    --border: 2px solid;
    --transSmooth: cubic-bezier(.4, 0, 0, 1.01);
    --stin: 0 7px 30px rgba(15, 71, 113, 0.28);
}
::placeholder {
    color: var(--themeGrayInverted);
}
.hidden {
    display: none;
}
.buttonLike, zavritModal {
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
bImage {
    position: absolute;
    top: -10%;
    left: -30%;
    width: 100%;
    height: 170%;
    background-image: url("Untitled.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
    font-size: 3000%;
    z-index: -100;
}
btext {
    display: none;
    position: absolute;
    width: 50vw;
    top: -2%;
    right: 0;
    opacity: 0.2;
    z-index: -110;
    transform:matrix(0.87,0.50,-0.85,0.67,0,0);
}
b {
    color: #212121;
    font-weight: 500;
}
h2 {
    font-weight: 600;
    font-size: 1.25rem;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    
    color: var(--theme);
    margin: 0;
}
body a {
    color: #1d2ada;
}

bar {
    position: relative;
    display: flex;
    
    padding: 2vh 14vw;
    border-top: 5px solid var(--themeMain);
    
    width: 100%;
    align-items: center;
    z-index: 10;
}
bar a {
    margin: 1vw;
    border-bottom: 2px solid;
}

header {
    padding-left: 15vw;
    padding-top: 9vh;
    width: 100%;
    height: 80%;
}
input[type="submit"], button, .buttonLike {
    color: var(--themeHighlight);
    display: inline-block;
    font-size: 1.2rem;
    background-color: #FF9A72;
    color: #fff;
    padding: 1vw;
    border-radius: 5px;
    border: var(--border) var(--themeHighlight);
    z-index: 10;
    transition: 0.3s var(--transSmooth);
}
input[type="submit"]:hover, button:hover, .buttonLike:hover {
    background-color: #fcad7f;
    transform: translateY(-0.2rem);
}
header h1 {
    font-weight: 600;
    margin-bottom: -1rem;
}
#jaz {
    color: var(--themeGray);
}
/*header *:not(a) {
    text-shadow: 0px 0px 10px #fff;
}*/
cenikContainer {
    position: relative;
    margin-left: 1.5vw;
    padding: calc(1vw + 5px);
}
#cenik {
    display: inline-block;
    position: relative;
    cursor: pointer;
    z-index: 20;
}
#cenik-menu {
	position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    color: #fff;
    
    border-radius: 0.5rem;
    box-shadow: 0 7px 65px rgba(15, 71, 113, 0.12);
    
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    
    transition: 1s var(--transSmooth);
}
#cenik-menu a {
    margin-top: 1rem;
}
cenikContainer:hover #cenik-menu, .pinned {
    height: 24em;
    width: 18rem;
    padding: 1rem;
    left: 100%;
    top: -16rem;
    color: var(--theme1);
    
    border-radius: 10px;
}

.pinned {
    border-left: 5px solid #f79256;
}
#cenik-menu h1 {
    margin-bottom: 0rem;
	font-size: 120%;
}

content, whoami:after {
    background-color: #e5f3fd;
}
whoami, content, links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    
    padding: 0 10vw;
    z-index: 2;
}
whoami h2 {
    margin-bottom: 1rem !important;
    margin-top: 0 !important;
}
whoami div {
    display: flex;
    text-align: left;
}
whoami li {
    list-style-type: none;
    margin-bottom: 1rem;
}
whoami li:before {
    content: ""; 
    display: inline-block;
    margin-left: -1.3em; 
    width: 1.3em; 
    height: 1rem;
    background: url(check-circle-solid.svg);
    background-repeat: no-repeat;
}
whoami img {
    margin-right: 1rem;
    border-radius: 10px;
    box-shadow: var(--stin);
}

karta {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 1rem;
    flex-flow: row;
    flex-wrap: wrap;
    
    position: relative;
    
    width: 100%;
    margin: 2vw;
    padding: 3vw 4vw;
    background-color: #fff;
    
    border: 2px solid #aad7fa;
    z-index: 1;
    border-radius: 10px;
}
whoami karta {
    justify-content: center;
}
whoami {
    position: relative;
    text-align: center;
    padding: 0 20vw;
    margin-top: 15vh;
}
whoami:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
}
kartaThumb {
    position: absolute;
    right: -2rem;
    top: 15%;
    
    width: 15vw;
    height: 15vw;
    
    background-size: cover !important;    
    background-color: #000;
    border-radius: .8rem;
    
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.28);
    
    z-index: 100;
    transition: 0.35s var(--transSmooth);
}
kartaThumb:hover {
    transform: scale(1.2) translateX(3rem);
}
.pak kartaThumb {
    background: url(pakThumb_small.jpg);
}
#tl kartaThumb {
    background: url(tlThumb_small.jpg);
}

karta h1, karta h2 {
    font-weight: 600;
    margin: 0;
}
karta h1 {
    flex-grow: 2;
    flex-basis: 100%;
    font-size: 150%;
    margin: 0;
}

section {
    width: 45%;
}
section a, section h2 {
    margin-top: 1rem;
}
section a {
    display: block;
    position: relative;
}
#spolecnosti {
    text-align: center;
    flex-basis: 100%;
    align-content: center;
    justify-items: center;
}
obrazky {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-top: 1.6rem;
}
obrazky:first-of-type {
    margin-top: 0.6rem;
}
obrazky * {
    margin: 0 1rem;
}
obrazky img, obrazky svg {
    max-height: 4rem;
}
.konec {
    display: block;
    position: absolute;

    padding: 0.5rem;
    border-radius: 0.5rem;
    transform: translateY(-1rem);
    opacity: 0;

    background-color: var(--theme2);
    box-shadow: 0 7px 65px rgba(15, 71, 113, 0.2);
    transition: 0.5s var(--transSmooth);
}
karta section p:hover .konec {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s var(--transSmooth);
}
whoami a:after, section a:after, #cenik-menu a {
    content: "⇀";
    position: absolute;
    color: #1d2ada;
    font-weight: 600;
    margin-left: 0.25rem;
    transition: 0.3s ease-in-out;
}
whoami a:hover:after, section a:hover:after {
    transform: translateX(0.5rem);
    /*opacity: 1;*/
}

.pak h1, td.pak {
    color: var(--themeMain);
}
.tl h1 {
    color: var(--themeMain);
}

.spacer {
    height: 2rem;
}

#cn table {
    width: 100%;
    border-collapse: separate;
    margin-top: 1rem;
}
#cn span:not(.ns) {
    font-size: 0.95rem;
    color: var(--themeGray);
}
#cn table th {
    font-size: 0.95rem;
    padding-bottom: 0;
    text-align: right; /* TODO: Dát to middle? Prý to má být middle, ale vypadá to divně */
}
#cn table td {
    padding: 0.5vw;
    line-height: 2.4rem;
    vertical-align: top;
}
#cn table td:first-child {
    max-width: 25vw;
}
#cn table td {
    padding-left: 1vw;
}
#cn table td:nth-last-child(-n+2) {
    text-align: right;
    vertical-align: middle;
}
#cn table td[rowspan^="3"] {
    font-weight: 600;
    font-size: 110%;
    border-right: 1px solid var(--themeGray);
    margin-top: 3rem;
}
#cn table td[rowspan^="3"] span {
    display: block;
    font-weight: 300;
    line-height: 1.5rem;
}
#cn table td[rowspan^="3"] span p {
    margin: 0.3rem 0;
}
#cn table td[rowspan^="3"] span p:first-of-type {
    margin-top: 0;
}
#referenced {
    min-width: 15rem;
}
.ns {
    font-size: 0.8rem;
}
container, odkazy {
    display: flex;
}
container {
    flex-direction: column;
    width: 100%;
    margin-top: 20vw;
}
container h2 {
    text-align: center;
}
odkazy {
    width: 100%;
    justify-content: space-around;
}
odkazy a {
    padding: 1vw;
    border-bottom: 2px solid #1d2ada;
}

footer {
    font-size: 0.9rem;
    width: 100%;
    margin-top: 30vh;
}
footer h1 {
    text-align: center;
}
.subtitle {
    margin-top: 0;
    color: var(--themeGray);
}

objednaniModalOverlay {
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    z-index: 1000;
    transform: scale(0);
    transition: 1s var(--transSmooth);
}
objednaniModal {
    position: fixed;
    display: flex;
    flex-flow: row;
    background-color: var(--theme2);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--stin);
}
objednaniModal h1 {
    margin: 0;
}
levaStrana, pravaStrana {
    padding: 3vw;
}
levaStrana {
    background-color: #f8f9fa;
    width: 35vw;
}
levaStrana form {
    display: flex;
    flex-flow: column;
}
levaStrana form span {
    color: var(--themeGray);
    font-size: 75%;
}
.normostrana {
    display: block;
}
levaStrana input[type="email"], levaStrana input[type="text"], levaStrana input[type="number"] {
    position: relative;
    width: 100%;
    padding: 1vw;
    margin-bottom: 1.5vw;

    background-color: var(--theme2);

    border: 1px solid #dce1e4;
}
input[type="checkbox"] {
    display: inline;
}
.vybrat {
    display: none;
    margin-top: 1.5vw;
}
.vybrano {
    display: block;
    position: relative;
}
inlineContainer {
    display: block;
}
inlineContainer * {
    display: inline;
}
.easy-autocomplete {
    width:100% !important
  }
  
.easy-autocomplete input {
width: 100%;
}
.easy-autocomplete-container {
    position: absolute;
    background-color: var(--theme2);

    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 7px 65px rgba(15, 71, 113, 0.12);

    list-style: none;
    z-index: 1000000;
}
.easy-autocomplete-container * {
    list-style: none;
    margin: 0;
}
.easy-autocomplete-container ul {
    padding: 0;
    overflow: hidden;
}
.easy-autocomplete-container ul li {
    cursor: pointer;
    padding: 1rem 2rem;
}
.easy-autocomplete-container ul li:hover {
    background-color: #e5f3fd;
}
/*vysledky, vysledky ul {
    border-radius: 0.5rem;
}
vysledky {
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: var(--theme2);
    padding: calc(var(--padding)*2);

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 7px 65px rgba(15, 71, 113, 0.12);

    list-style: none;

    transition: 0.5s ease;

    z-index: 1000000;
}*/
/*vysledky ul {
    margin: 0;
    padding: 0.7rem;
    transition: 0.5s ease;
}
vysledky ul:hover {
    background-color: #dee1e4;
}
vysledek {
    cursor: pointer;
    z-index: 9999999999999;
}*/
pravaStrana {
    position: relative;
    color: var(--theme2);
    background-color: var(--themeMain);

    text-align: center;
}
pravaStrana zavritModal {
    font-family: 'PT Mono', monospace;
    position: absolute;
    color: var(--themeMain);
    top: 1vw;
    right: 1vw;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background-color: var(--theme2);
}
pravaStrana p:first-of-type {
    margin: 0;
}
pravaStrana table {
    font-family: 'PT Mono', monospace;
    font-size: 75%;
    width: 100%;
    border-collapse: collapse;
}
pravaStrana tr td:nth-child(1n) {
    color: var(--themeGrayInverted);
    text-align: left;
}
pravaStrana tr td:nth-child(2n) {
    color: var(--theme2);
    text-align: right;
}
.rovnaSe {
    border-top: 1px solid var(--themeGrayInverted);
}
.modalAktivni {
    animation: modalOpen 1s;
    animation-fill-mode: forwards;
    animation-timing-function: var(--transSmooth);
}
@keyframes modalOpen {
    1% {
        display: flex;
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
transformer {
    display: block;
    transform-origin: top center;
    transform: scale(1);
    filter: saturate(100%);
    transition: 1s var(--transSmooth);
}
.transformerAktivni {
    animation: zmenseniTransformera 1s;
    animation-fill-mode: forwards;
    animation-timing-function: var(--transSmooth);
}
@keyframes zmenseniTransformera {
    0% {
        transform: scale(1);
        filter: saturate(100%);
        filter: opacity(1);
    }
    50% {
        filter: blur(70%);
        filter: opacity(0.1);
    }
    100% {
        transform: scale(0.95);
        filter: saturate(70%);
        filter: opacity(0.1);
    }
}

@media screen and (max-device-width: 900px) {
    bar a:last-child {
        margin-left: 5vw;
    }
    header {
        padding: 5vh 15vw;
    }
    header h1 {
        font-size: 180%;
    }
    header a {
        padding: 2vw;
    }
    content {
        padding: 0;    
    }
    whoami {
        margin-top: 2vh;
    }
    whoami img {
        display: none;
    }
    section {
        width: 100%;
    }
    whoami, karta {
        padding: 7vw;
    }
    karta:last-of-type {
        margin-bottom: 5vh;
    }
    kartaThumb {
        display: none;
    }
    #cenik {
        display: none;
    }
    #cenik-menu {
        display: none;
    }
    #cenik:hover ~ #cenik-menu, .pinned {
        transform: translateY(100%) !important;
    }
    odkazy {
        flex-direction: column;
        align-items: center;
    }
    odkazy a {
        margin: 3vw;
    }
}