* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --theme1: #2e2e2e;
    --theme2: #fff;
    --themeAccent: #bcbcbc;
    --borderRadius: 3rem;
}

html {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--theme2);
    color: var(--theme1);
    display: flex;
    flex-direction: column;
    
    counter-reset: stranka;
    
    margin: 0;
    margin-bottom: 50vh;
    font-size: 1.2rem;
    
    transition: 0.5s ease;
}

h1 {
    font-weight: 400;
    font-size: 500%;
    text-align: center;
    margin-bottom: 2rem;
}

text {
    margin: 0 auto;
    width: 80vw;
}

str p::first-letter {
    margin-left: 2rem;
}

str {
    line-height: 1.7;
}
str:before {
    counter-increment: stranka;
    
    content: "·" counter(stranka) "·";
    display: block;
    text-align: center;
    color: var(--themeAccent);
    
    margin-top: 4rem;
    margin-bottom: -1rem;
    
    font-size: 300%;
}

colorSwitch, colorSwitch div {
    display: flex;
    align-items: center;
}
colorSwitch {
    justify-content: center;
}
colorSwitch div {
    position: relative;
    width: var(--borderRadius);
    height: var(--borderRadius);
    cursor: pointer;
    
    border-radius: var(--borderRadius);
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    
    transition: 1s ease;
}
colorSwitch div:hover {
    width: 10.5rem;
    transition: 1s ease;
}
colorSwitch div:first-child {
    margin-right: calc(var(--borderRadius) / 2);
}
colorSwitch p {
    white-space: nowrap;
    margin-left: 1rem;
    pointer-events: none;
}

#dark {
    background-color: #2e2e2e;
    color: #2e2e2e;
}
#white, #dark:hover {
    color: #fff;
}
#white {
    background-color: #fff;
}
#white:hover {
    color: #2e2e2e;
}