body {
    overflow-y: scroll;
}
header {
    display: flex;
    padding-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: unset;
}

header h1 {
    text-align: center;
    margin: 0;
}
header p {
    max-width: 45ch;
    text-align: center;
    margin: 0;
}

objednaniModal {
    align-items: flex-start;
    margin-top: var(--paddingMedium);
    position: static;
    box-shadow: unset;
    border-radius: unset;
    background-color: var(--mainPozadi);
    overflow: visible;
}
pravaStrana {
    flex-grow: 0;
    border-radius: 10px;
    box-shadow: var(--stin);
}
zavritModal {
    display: none;
}