:root {
    --colorMain: #353236;
    --colorSecond: #bcb2bf;
    --colorContrast: #efdf78;
}

body {
    display: grid;
    grid-template-columns: 40vw auto;
    grid-gap: 6rem;

    background-color: var(--colorMain);
    color: var(--theme2);
}

a {
    color: var(--colorContrast);
}

left {
    color: var(--colorMain);
    justify-self: center;
    padding: 2rem;
    background-color: var(--colorContrast);
}


list p {
    position: relative;
}

.small {
    font-size: 75%;
}