@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
html {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    height: 100%;
}
button {
    border: none;
}

a {
    text-decoration: none;
    padding: 25px;
    background-color: #fff;
    color: #f44336;
    font-size: 1.5em;
    border: 1px solid #fff;
    transition: 0.5s ease;
}
a:hover {
    color: #fff;
    background-color: #f44336;
    padding: 35px;
}
body {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 120%;
    color: #fff;
    background-color: #f44336;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
form * {
    margin: 10px;
    padding: 15px;
    font-size: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    transition: 0.5s ease;
}
.input:focus, #submit:hover {
    background-color: #f44336;
}
.input {
    color: #f44336;
}
.input:focus {
    color: #fff;
    border: 1px solid #fff;
}
#submit {
    color: #f44336;
}
#submit:hover {
    color: #fff;
    padding: 75px;
}

::-webkit-input-placeholder {
    color: #f44336;
}
:-moz-placeholder {
   color: #f44336;
   opacity: 1;
}
::-moz-placeholder {
   color: #f44336;
   opacity: 1;
}
:-ms-input-placeholder {
   color: #f44336;
}

header, desc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}
header {
    background-color: #f44336;
}
desc {
    background-color: #fff;
    color: #f44336;
}
desc p {
    text-align: center;
}

.cpr {
    letter-spacing: -3px
}
.cpr1 {
    letter-spacing: -1px;
}

@media screen and (max-device-width: 480px) {
    
    header, desc {
        width: 100%;
    }
    
}